.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #4cabdb;
}
.bgImg {
  width: 100%;
  height: 320px;
  object-fit: unset;
}
.home__content {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 5%;
  width: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
button.Home__button {
  padding: 15px 20px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: #fff;
}

.homeHeading {
  text-align: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  font-size: 1.4vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}
